@font-face {
	font-family: Myriad Pro;
	font-display: swap;
	src: url("../fonts/Myriad Pro.woff2") format("woff2"), url("../fonts/Myriad Pro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
