.page {
	height: 100vh;
	background-color: $redColor;
	text-align: center;
	color: $whaitColor;
	padding: 0px 4vw;
	// .page__container
	&__container {
		height: 100%;
	}
	// .page__content
	&__content {
	}
	@media (min-width: $mobileSmall) {
		padding: 0px 9vw;
	}
	@media (min-width: rem(600)) {
		padding: 0px 18vw;
	}
	@media (min-width: $mobile) {
		padding: 0px 20vw;
	}
}

.content-page {
	padding-top: 6vh;
	padding-bottom: 4vh;
	display: flex;
	flex-direction: column;
	min-width: 100%;
	height: 100vh;
	// .content-page__page-logo
	&__page-logo {
		margin-bottom: 2vh;
	}
	// .content-page__inner-page
	&__inner-page {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		flex: 1 0 auto;
		margin-bottom: 3.5vh;
	}
	// .content-page__footer
	&__footer {
		display: flex;
		flex: 0 0 auto;
		min-width: 100%;
		justify-content: center;
	}
}
.logo-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	// .logo-page__logo-picture
	&__logo-picture {
		img {
			@include adaptiveValue("width", 600, 120, 3000, 319.98, 1);
			max-width: 290px;
			max-height: 20vh;
		}
	}
}
.inner-page {
	display: flex;
	flex: 1 1 auto;
	// .inner-page__custom
	&__custom {
		flex: 1 1 auto;
		margin-bottom: 2vh;
		// position: relative;
		display: flex;
		&::before {
			content: "";
			flex: 1 1 auto;
			// width: 45%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			// position: absolute;
			// left: 0;
			// bottom: 50%;
			// z-index: 10;
		}
		&::after {
			content: "";
			flex: 1 1 auto;
			// width: 45%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			// position: absolute;
			// right: 0;
			// bottom: 50%;
			// z-index: 10;
		}
	}
	// .inner-page__picture
	&__picture {
		flex-grow: 1;
		max-height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 0 auto;
		margin-bottom: 4vh;
		img {
			max-width: 100%;
			max-height: 24vh;
		}
	}
	// .inner-page__partners
	&__partners {
		flex: 0 0 auto;
		position: relative;
		font-size: 1.2vh;
	}
}
.custom-content {
	display: flex;
	align-items: center;
	&__image {
		margin: 0 2vw;
		img {
			max-width: 100%;
			max-height: 3vh;
		}
	}
}
.partners-info {
	// .partners-info__title
	&__title {
		position: relative;
		padding-bottom: 1.3vh;
		&::after {
			content: "";
			width: 100%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 10;
		}
	}
	// .partners-info__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 2.3vh;
	}
}

.partners-icon {
	// .partners-icon__item
	&__item {
		img {
			max-height: 2.3vh;
			max-width: 100%;
			cursor: pointer;
		}
		&:last-child {
			@include adaptiveValue("padding-left", 75, 30, 1368, 319.98, 1);
		}
	}
}
.footer-content {
	// .footer-content__copyright
	&__copyright {
	}
	// .footer-content__team
	&__team {
	}
}
.copyright-content {
	p {
		&:first-child {
			padding-bottom: 1vh;
		}
	}
	// .copyright-content__text
	&__text {
		margin-bottom: 4vh;
		span {
			margin-left: -1px;
			margin-right: 2px;
		}
	}
}
.text-content {
	// padding: 0px rem(30);
	font-family: Montserrat;
	text-align: center;
	line-height: 1.7em;
	font-size: 1vh;
	@media (max-width: $mobileSmall) {
		line-height: 1em;
	}
}
.team-content {
	// .team-content__text
	&__text {
		margin-bottom: 3vh;
		font-size: 1.2vh;
	}
	// .team-content__team-logo
	&__team-logo {
		img {
			max-width: 100%;
			max-height: 8vh;
		}
	}
}
