//====================================================================================================

//====================================================================================================
.content {
	background-color: $redColor;
	text-align: center;
	@include adaptiveValue("padding-top", 117, 50, 1368, 319.98, 1);
	@include adaptiveValue("padding-bottom", 91, 50, 1368, 319.98, 1);
	// .content__page
	&__page {
		color: $whaitColor;
	}
}

.page-content {
	// .page-content__container
	&__container {
	}
	// .page-content__header-logo
	&__header-logo {
		@include adaptiveValue("margin-bottom", 50, 10, 1368, 319.98, 1);
		img {
			max-width: 40%;
		}
	}
	// .page-content__castom
	&__castom {
		display: flex;
		justify-content: center;
		position: relative;
		flex: 1 1 auto;
		@include adaptiveValue("margin-bottom", 50, 20, 1368, 319.98, 1);
		img {
			max-width: 100%;
			margin: 0px 20px;
			@include adaptiveValue("height", 55, 20, 1368, 319.98, 1);
		}
	}
	// .page-content__picture
	&__picture {
		@include adaptiveValue("margin-bottom", 125, 30, 1368, 319.98, 1);
		img {
			max-width: 100%;
			max-height: 468px;
		}
	}
	// .page-content__footer
	&__footer {
	}
}
.logo-header {
	// .logo-header__logo
	&__logo {
	}
}
.castom-content {
	// .castom-content__image
	&__image {
		display: flex;
		&::after {
			content: "";
			width: 40%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			position: absolute;
			right: 0;
			top: 50%;
			z-index: 10;
		}
		&::before {
			content: "";
			width: 40%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			position: absolute;
			left: 0;
			top: 50%;
			z-index: 10;
		}
	}
}
.footer-content {
	// .footer-content__partners
	&__partners {
		position: relative;
		@include adaptiveValue("margin-bottom", 80, 30, 1368, 319.98, 1);
		@include adaptiveValue("font-size", 20, 16, 1368, 319.98, 1);
		&::before {
			content: "";
			width: 100%;
			height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			position: absolute;
			left: 0;
			@include adaptiveValue("top", 42, 25, 1368, 319.98, 1);
			z-index: 10;
		}
	}
	// .footer-content__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("padding-top", 56, 16, 1368, 319.98, 1);
		@include adaptiveValue("min-height", 41, 30, 1368, 319.98, 1);
	}
	// .footer-content__copyright
	&__copyright {
		@include adaptiveValue("margin-bottom", 116, 20, 1368, 319.98, 1);
	}
	// .footer-content__team
	&__team {
	}
}
.partners-icon {
	// .partners-icon__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("max-width", 250, 100, 1368, 319.98, 1);
		@include adaptiveValue("height", 41, 30, 1368, 319.98, 1);
		img {
			min-height: 100%;
			max-width: 100%;
			cursor: pointer;
		}
		&:last-child {
			@include adaptiveValue("padding-left", 75, 30, 1368, 319.98, 1);
		}
	}
}
.copyright-content {
	// .copyright-content__text
	&__text {
		padding: 0px rem(30);
		font-family: Montserrat;
		text-align: center;
		line-height: 1.7em;
		@media (max-width: $mobileSmall) {
			line-height: 1em;
		}
		@include adaptiveValue("font-size", 18, 10, 1368, 319.98, 1);
		p {
			&:first-child {
				@include adaptiveValue("padding-bottom", 16, 10, 1368, 319.98, 1);
			}
		}
	}
}
.team-content {
	// .team-content__inner
	&__inner {
		@include adaptiveValue("margin-bottom", 55, 30, 1368, 319.98, 1);
	}
	// .team-content__team-logo
	&__team-logo {
		img {
			max-width: 30%;
		}
	}
}
