//========================================================================================================================================================
.wrapper {
}
.content {
	// .content__page2
	&__page2 {
		min-height: 100%;
		// @include adaptiveValue("padding-top", 117, 50, 1368, 319.98, 1);
		@include adaptiveValue("padding-bottom", 91, 50, 1368, 319.98, 1);
	}
}
.page2-content {
	background-color: $grayColor;
	text-align: center;
	color: $whaitColor;

	// .page2-content__slider
	&__slider {
		@include adaptiveValue("margin-bottom", 120, 10, 1368, 319.98, 1);
	}
	// .page2-content__blackcustom
	&__blackcustom {
		display: flex;
		justify-content: center;
		position: relative;
		flex: 1 1 auto;
		padding: 0px 30px;
		@include adaptiveValue("margin-bottom", 50, 20, 1368, 319.98, 1);
		img {
			max-width: 100%;
			@include adaptiveValue("width", 1360, 320, 1368, 319.98, 1);
			@include adaptiveValue("height", 55, 20, 1368, 319.98, 1);
		}
	}
}

.slider-content {
	height: 100%;
	position: relative;
	// .slider-content__swiper
	&__swiper {
	}
}
.swiper-content {
	// .swiper-content__header-logo
	&__header-logo {
		display: flex;
		justify-content: center;
		// background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
	}
}
// .logo-header
.logo-header {
	// .logo-header__logo
	&__logo {
		align-items: center;
		display: flex;
		img {
			@include adaptiveValue("max-width", 500, 100, 3000, 319.98, 1);
		}
	}
}
// улучшаем контрастность лого.
.filter-black {
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(300%);
}

// .image-slider
.image-slider {
	overflow: hidden;
	// .image-slider__wrapper
	&__wrapper {
	}
	// .image-slider__slide
	&__slide {
	
	}
	// .image-slider__image
	&__image {
		@include adaptiveValue("min-height", 1840, 200, 5000, 319.98, 1);
		// text-align: center;
		overflow: hidden;
		position: relative;
		img {
			opacity: 0.3;
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-pagination {
}
.swiper-scrollbar {
}
.blackcustom-content {
	// .blackcustom-content__image
	&__image {
	}
}

//========================================================================================================================================================
