//========================================================================================================================================================

.content {
	// .content__slid
	&__slid {
		min-height: 100%;
		@include adaptiveValue("padding-bottom", 60, 20, 1368, 319.98, 1);
	}
}
.slid-content {
	background-color: $whaitColor;
	text-align: center;
	color: $whaitColor;
	// .slid-content__slider
	&__slider {
		@include adaptiveValue("margin-bottom", 80, 20, 1368, 319.98, 1);
	}
	// .slid-content__custom
	&__custom {
		&::before {
			content: "";
			flex: 1 1 auto;
			height: 1px;
			// border-top: 1px solid rgba(0, 0, 0, 0.1);
			// background-color: #000;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: rgba(0, 0, 0, 0.4);
		}
		&::after {
			content: "";
			flex: 1 1 auto;
			height: 1px;
			// border-top: 1px solid rgba(0, 0, 0, 0.1);
			// background-color: #000;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
	// .slid-content__catalog
	&__catalog {
		position: relative;
		padding: 50px 0px;
		display: flex;
		flex-direction: column;
		&::before {
			content: "";
			width: 100%;
			// height: 1px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			// @include adaptiveValue("height", 2, 1, 1368, 319.98, 1);
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			left: 0;
			// @include adaptiveValue("bottom", 42, 25, 1368, 319.98, 1);
			bottom: 0;
			z-index: 10;
		}
	}
}

.slider-content {
	height: 100%;
	position: relative;
}
.swiper-content {
	// .swiper-content__page-logo
	&__page-logo {
		z-index: 10;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background-color: rgba(252, 249, 249, 0.2);
	}
}

.custom-content {
	// .custom-content__image
	&__image {
		img {
			max-width: 100%;
			max-height: 3vh;
		}
	}
}

// .logo-page
.logo-page {
	// .logo-page__logo-slid
	&__logo-slid {
		img {
			@include adaptiveValue("width", 900, 120, 3000, 319.98, 1);
			max-width: 330px;
		}
	}
}
// улучшаем контрастность лого.
.filter-black {
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(300%);
}

// .image-slider
.image-slider {
	overflow: hidden;
	// .image-slider__image
	&__image {
		@include adaptiveValue("min-height", 1840, 200, 5000, 319.98, 1);
		// height: 100vh;
		// text-align: center;
		// overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			transform-origin: bottom right;
			animation: grow 150000ms ease;
		}
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.6);
	}
}

//========================================================================================================================================================
