.content {
	// .content__page2
	&__page2 {
		min-height: 100%;
		@include adaptiveValue("padding-top", 117, 50, 1368, 319.98, 1);
		@include adaptiveValue("padding-bottom", 91, 50, 1368, 319.98, 1);
	}
}
.page2-content {
	background-color: $grayColor;
	text-align: center;
	color: $whaitColor;
	position: relative;
	// .page2-content__slider
	&__slider {
		padding-top: 410px;
		// max-height: 1048px;
		@include adaptiveValue("margin-bottom", 50, 10, 1368, 319.98, 1);
	}
	// .page2-content__header-logo
	&__header-logo {
		background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		img {
			margin: 150px 0px;
			max-width: 40%;
		}
	}
	// .page2-content__custom
	&__blackcustom {
		display: flex;
		justify-content: center;
		position: relative;
		flex: 1 1 auto;
		@include adaptiveValue("margin-bottom", 50, 20, 1368, 319.98, 1);
		img {
			max-width: 100%;
			@include adaptiveValue("height", 55, 20, 1368, 319.98, 1);
		}
	}
}
.logo-header {
	// .logo-header__logo
	&__logo {
	}
}
.blackcustom-content {
	// .custom-content__image
	&__image {
	}
}

//========================================================================================================================================================

.slider-content {
	min-width: 0;
	// .slider-content__swiper
	&__swiper {
	}
}
.swiper-content {
}
.image-slider {
	position: relative;
	padding: 30px 0px 70px 0px;
	// .image-slider__wrapper
	&__wrapper {
	}
	// .image-slider__slide
	&__slide {
	}
	// .image-slider__image
	&__image {
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
	&::after{
		content:'';
		color: #000;
		font-size: 80px;
	}
}
.swiper-button-next {
	&::after{
		content:'';
		color: #000;
		font-size: 80px;
	}
}
.swiper-pagination {
}
.swiper-scrollbar {
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20;
	font-size: 14px;
	background-color: #fff;
}